<!-- Team Section -->
    <section id="accepted_papers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accepted Papers</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div> 
        	    <div class="row">
        	    	<div class="col-lg-8 col-lg-offset-2 text-justify">
        	        	<p class="large text-muted">
        				<li><strong><a href="https://arxiv.org/abs/1806.03790" target="\_blank">Distributed Evaluations: Ending Neural Point Metrics</a></strong>, Daniel Cohen, Scott M. Jordan, and W. Bruce Croft.</li> </br>
				        <li><strong><a href="https://arxiv.org/abs/1806.05004" target="\_blank">Explainable Agreement through Simulation for Tasks with Subjective Labels</a></strong>, John Foley.</li> </br>
				        <li><strong><a href="https://arxiv.org/abs/1806.04735" target="\_blank">Information Retrieval in African Languages</a></strong>, Hussein Suleman.</li> </br>
				        <li><strong><a href="https://arxiv.org/abs/1804.06905" target="\_blank">Highly Relevant Routing Recommendation Systems for Handling Few Data Using MDL Principle</a></strong>, Diyah Puspitaningrum, I.S.W.B. Prasetya, and P.A. Wicaksono.</li> </br>
				        <li><strong><a href="https://arxiv.org/abs/1806.08694" target="\_blank">Learning to Rank from Samples of Variable Quality</a></strong>, Mostafa Dehghani and Jaap Kamps.</li> </br>
					<li><strong><a href="https://arxiv.org/abs/1806.04511" target="\_blank">Multilingual Sentiment Analysis: An RNN-Based Framework for Limited Data</a></strong>, Ethem Can, Aysu Ezen-Can, and Fazli Can.</li> </br>
					<li><strong><a href="https://arxiv.org/abs/1806.04411" target="\_blank">Named Entity Recognition with Extremely Limited Data</a></strong>, John Foley, Sheikh Muhammad Sarwar, and James Allan.</li> </br>
				        <li><strong><a href="https://arxiv.org/abs/1806.04815" target="\_blank">Towards Theoretical Understanding of Weak Supervision for Information Retrieval</a></strong>, Hamed Zamani and W. Bruce Croft.</li>
        			</p>
        		</div>
    	    </div>
        </div>
    </section>
