<!-- About Section -->
    <section id="call" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Paper</h2>
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2 text-justify">
	                            <p class="large text-muted">  

								    <h5>We invite submissions in the following areas:</h5>
								    <ul>
						  				<li>Learning from noisy data for IR</li>
									<ul>
										<li>Learning from automatically constructed data</li>
										<li>Learning from implicit feedback data, e.g., click data</li>
										<li>Meta-learning for noisy data</li>
									</ul>
							  			<li>Distant or weak supervision and learning from IR heuristics</li>
							 			<li>Unsupervised and semi-supervised learning</li>
										<li>Transfer learning</li>
										<li>Incorporating expert/domain knowledge to improve learning-based IR models</li>
									<ul>
										<li>Learning from labeled features</li>
										<li>Incorporating IR axioms to improve machine learning models</li>
									</ul>
								    </ul>

							 </div>
	                    </div>
	                </div>
	                <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2 text-justify">
	                            <p class="large text-muted">  

							    <h3>Submission Guidelines:</h3>
							    <p>To be announced.</p>

							    <h3>Important Dates:</h3>
							    <ul>
							    	
									<li><div class="text-warning"> <b>Submission deadline:</b> May 4, 2018</div></li>
									<li><b>Paper notifications:</b> May 25, 2018</li>
									<li><b>Camera-ready deadline:</b> June 8, 2018</li>
									<li><b>Workshop Day:</b> July 12, 2018</li>
							    </ul>

							 </div>
	                    </div>
	                </div>
			     </div>
            </div>
        </div>
    </section>
