<!-- Team Section -->
    <section id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Oraganizers</h2>
                    <h3 class="section-subheading text-muted">bla bla.</h3>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Hamed Zamani, University of Massachusetts Amherst</p>
		    <p class="large text-muted">Mostafa Dehghani, University of Amsterdam</p>
		    <p class="large text-muted">Fernando Diaz, Spotify</p>
		    <p class="large text-muted">Hang Li, Toutiao</p>
		    <p class="large text-muted">Nick Craswell, Microsoft</p>
                </div>
            </div>
        </div>
    </section>
