<!-- About Section -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2 text-justify">
	                            <p class="large text-muted">  
								<table>
								  <tr>
								    <td width="20%">9:00 - 9:10</td>
								    <td width="80%">Opening</td>
								  </tr>
								  <tr>
								    <td width="20%">9:10 - 10:00</td>
								    <td width="80%">Keynote [Marc Najork] (40 min talk + 10 min QA)</td>
								  </tr>
								  <tr>
								    <td width="20%">10:00 - 10:15</td>
								    <td width="80%">Coffee break</td>
								  </tr>
								  <tr>
								    <td width="20%">10:15 - 12:00</td>
								    <td width="80%">Paper presentations (4 research paper, each 10+2 min, 4 position papers, each 5+2 min)</td>
								  </tr>
								  <tr>
								    <td width="20%">12:00 - 12:30</td>
								    <td width="80%">Discussion panel (first 15 minutes on current most important approaches to handle limited and noisy data, and the last 15 minutes on future directions)</td>
								  </tr>
								</table>
							 </div>
	                    </div>
	                </div>
			     </div>
            </div>
        </div>
    </section>
